@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    letter-spacing: 3px;
}